.sidebar {
    position: absolute;
    top: 50%;
    right: 10px;
    color: #FFF;
}

.options {
    padding: 15px;
    text-align: center;
    cursor: pointer;
}

@media only screen and (max-width: 440px) {
    .sidebar {
      top: 42%;
    }
  }